*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    max-width: 1000px;
    margin: auto;
}
section{
    background-image: url(img/people.jpg);
    overflow: hidden;
    background-size: cover;
}
.title{
    font-size: 26px;
}
header{
    background-color: rgb(3, 155, 61);
    padding: 10px;
    text-align: center;
    color: white;
} 
.formcontainer{
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
    margin: 20px;
}
.mb{
    margin-bottom: 15px;
}
h2{
    font-size: 16px;
}
input, select{
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}
input[type="submit"]{
        background-color: rgb(0, 121, 40);
        color: white;
        font-weight: bold;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
    padding: 40px; 
    background-color: #202121;
    text-align: center;
}
.image{
    max-width: 160px;
}
.description{
    max-width: 40%;
    display: inline-block;
    margin-left: 40px;
    color: white;
    text-align: left;
}
.description h3, .description p{
    margin-bottom: 20px;
}
.description h3{
    font-size: 23px;
}
@media screen and (max-width: 750px){
    .title{
        font-size: 20px;
    }
    .formcontainer{
        display: block;
        float: none;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .image{
        margin-bottom: 20px;
    }
    .description{
        float: none;
        margin: 0;
        padding: 0;;
        max-width: 90%;
    }
    .description h3{
        text-align: center;
    }
    .description p{
        text-align: left;
    }
}
  